.post-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background: white;
  padding: 15px;
}

.post-details {
  padding-bottom: 10px;
}

.post-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.post-actions button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.like-btn {
  background-color: #ff5a5f;
  color: white;
}

.comment-btn {
  background-color: #007bff;
  color: white;
}

.comments-section {
  margin-top: 15px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.comments-section textarea {
  width: 100%;
  min-height: 60px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  resize: none;
}

.submit-comment {
  margin-top: 5px;
  padding: 8px 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.previous-comments {
  margin-top: 10px;
  padding-top: 5px;
}



.post-author {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.author-img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}

.author-name {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}


.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-options {
  position: relative;
}

.options-btn {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  padding:  10px;
}

.dropdown-menu {
  position: absolute;
  top: 42px;
  right: 16px;
  left: 1;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 5px 0;
  width: 120px;
  z-index: 10;
}

.dropdown-menu li {
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown-menu li:hover {
  background: #f0f0f0;
}
